@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700;800&family=Poppins:wght@400;500;600;700&display=swap");

html{  background-color: #E5E5E5;

}
* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", "Nunito Sans", sans-serif;
  
  }
  .header {
    width: 100%;
    background-color: #f0c53e;
    border-bottom-left-radius: 50% 120px;
    border-bottom-right-radius: 50% 120px;
    padding-bottom: 120px;
  }
  .container {
    max-width: 1920px;
    padding: 0 20px;
    margin: 0 auto;
    box-sizing: border-box;
  
  
    @media (max-width:1920px){
      max-width:1280px;
    }
    @media (max-width:1280px){
      max-width:768px;
    }
    
  }
  .navbar {
    display: flex;
    align-items: center;
  
    &__logo {
      background-image: url("../assets/navbar_logo.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      margin: 0;
      width: 210px;
      height: 100px;
      line-height: 100px;
      text-align: center;
      color: #fff;
      font-size: 32px;
      font-weight: bold;
      letter-spacing: 0.04em;
    }
    &__menu{
        padding-right: 45px;
    }
    &__separator {
      flex-grow: 1;
    }
  
  }
  .menu {
    display: flex;
  
    &__item {
      display: block;
      text-decoration: none;
      letter-spacing: 0.02em;
      font-size: 22px;
      color: #252641;
      padding: 0 45px;

      @media (max-width:1920px){
       padding: 0 20px;
      }
    }
  }
.button{
    padding: 0 40px;
    background-color: #B25A59;
    color: #fff;
    font-weight: 500;
    font-size: 22px;
    height: 80px;
    line-height: 80px;
    border-radius: 40px;
    border: none;
    cursor: pointer;

    @media (max-width:1920px){
      height: 50px;
      line-height: 50px;
      border-radius: 25px;
      padding: 0 20px;
     }
    
}
.icon{
    width: 40px;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    vertical-align: middle;
    
    &_call{
        background-image: url("../assets/icon_call.svg");
    }

    @media (max-width:1920px){
    width: 20px;
    height: 20px;
    }
}
